<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Smartphones</display-name>
	<welcome-file-list>
		<welcome-file>Home</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ClientHome</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ClientHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientHome</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ClientSignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/SignIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientLogOutServlet</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ClientLogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientLogOutServlet</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmitProductServlet</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.SubmitProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitProductServlet</servlet-name>
		<url-pattern>/Submit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowProducts</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ShowProducts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowProducts</servlet-name>
		<url-pattern>/ShowP</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdministrateurLogIn</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.AdministrateurLogIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdministrateurLogIn</servlet-name>
		<url-pattern>/AdminPanel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDashBoard</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.AdminDashBoard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDashBoard</servlet-name>
		<url-pattern>/AdminPanel.DashBoard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerClient</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ManagerClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerClient</servlet-name>
		<url-pattern>/AdminPanel.ManagerClient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerProduct</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ManagerProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerProduct</servlet-name>
		<url-pattern>/AdminPanel.ManagerProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerActualite</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ManagerActualite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerActualite</servlet-name>
		<url-pattern>/AdminPanel.ManagerActualite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerCommande</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ManagerCommande</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerCommande</servlet-name>
		<url-pattern>/AdminPanel.ManagerCommande</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Handler</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.Handler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Handler</servlet-name>
		<url-pattern>/AdminPanel.Do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowServlet</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.ShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowServlet</servlet-name>
		<url-pattern>/Show</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>Isamm.ing.java.Smartphones.Servlets.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/T</url-pattern>
	</servlet-mapping>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
         C:\Users\Taki\Documents\Tomcat\webapps\Smartphones\assets\images\ProductImages\
     </param-value>
	</context-param>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>actualites-upload</param-name>
		<param-value>
         C:\Users\Taki\Documents\Tomcat\webapps\Smartphones\assets\images\ActualitesImages\
     </param-value>
	</context-param>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>marques-upload</param-name>
		<param-value>
         C:\Users\Taki\Documents\Tomcat\webapps\Smartphones\assets\images\MarquesLogos\
     </param-value>
	</context-param>
	<context-param>
		<description>temp Location to store uploaded file</description>
		<param-name>temp-upload</param-name>
		<param-value>
         C:\Users\Taki\Documents\Tomcat\webapps\Smartphones\assets\images\ProductImages\temp\
     </param-value>
	</context-param>
</web-app>